@{ 
    ViewData["Title"] = "Add or Edit Bowler";
}

@model mission13.Models.Bowler

<div>

    <form method="post" asp-action="AddBowler">

        <div asp-validation-summary="All"></div>

        @*<input type="hidden" value="@Model.BowlerID" />*@

        <div class="form-group">
            <label asp-for="BowlerFirstName">First Name: </label>
            <input type="text" asp-for="BowlerFirstName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="BowlerMiddleInit">Middle Initial: </label>
            <input asp-for="BowlerMiddleInit" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="BowlerLastName">Last Name: </label>
            <input asp-for="BowlerLastName" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="BowlerAddress">Street Address: </label>
            <input asp-for="BowlerAddress" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="BowlerCity">City: </label>
            <input asp-for="BowlerCity" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="BowlerState">State: </label>
            <input asp-for="BowlerState" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="BowlerZip">Zipcode: </label>
            <input asp-for="BowlerZip" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="BowlerPhoneNumber">Phone Number: </label>
            <input asp-for="BowlerPhoneNumber" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="TeamID">Team Name: </label>
            <select asp-for="TeamID" class="form-control">
                <option value="">Select a Team</option>
                <option value="">Select a Team</option>
                <option value="1">Marlins</option>
                <option value="2">Sharks</option>
                <option value="3">Terrapins</option>
                <option value="4">Barracudas</option>
                <option value="5">Dolphins</option>
                <option value="6">Orcas</option>
                <option value="7">Manatees</option>
                <option value="8">Swordfish</option>
                <option value="9">Huckleberrys</option>
                <option value="10">MintJuleps</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" asp-route="Index">Add</button>

    </form>

</div>